/* Navigation */
.dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem; /* Reduced height by decreasing padding */
  background-color: black;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(to right, #60a5fa, #a78bfa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a7c957;
}

/* Specific hover effect for Report link */
.nav-links a.report-link:hover {
  color: red;
}
